.prices-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  width: 676px;
  font-family: 'DIN Pro,-apple-system,BlinkMacSystemFont,sans-serif';
  font-size: 13px;
  letter-spacing: .25px;
  line-height: 19px;
}

.low-text {
  text-align:left;
  color: #cbcbcd;
  /* width: 80.8px; */
}

.average-text {
  text-align:center;
  color: #171718;
  /* width: 113.99px; */
}

.high-text {
  text-align:right;
  color: #cbcbcd;
  /* width: 78.8px; */
}