* {
  font-family: din-2014, sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: .25px;
  line-height: 19px;
}

.main-header {
  width: 676px;
}

.label-header {
  width: 676px;
  color: #23CE99;
  text-align: center;
}

.right-now {
  font-size: 12px;
  font-weight: 400px;
}

.prices-container {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  width: 676px;
}

.low-text {
  text-align:left;
  color: #cbcbcd;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: .25px;
  line-height: 19px;
}

.average-text {
  color: #171718;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: .25px;
  line-height: 19px;
}

.high-text {
  text-align:right;
  color: #cbcbcd;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: .25px;
  line-height: 19px;
}